body{
    background: url("/images/tapbos-colors-bg.png") no-repeat;
    background-size: cover;
    font-family: Arial;
}

ul.main-nav-bar{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.main-nav-bar li{
    float: left;
    width: 120px;
    height: 40px;
    background-color: white;
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 30;
}

ul.main-nav-bar li a{
    text-decoration: none;
    color: black;
    display: block;
}

ul.main-nav-bar li a:hover{
    background-color: teal;
}

ul.main-nav-bar li ul li{
    display: none;
}

ul.main-nav-bar li:hover ul li{
    display: block;
}