		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>

				<p><b>Contact<b/></p>
				<p>Have questions or feedback?</p>
				<p>We'd love to hear from you! Reach out to us at <a href="mailto:info@tap-boston.org">info@tap-boston.org</a><p>
				<ul class="copyright">
				  <li>&copy; 2018 TAP-Boston. All rights reserved.</li>
				</ul>
			</footer>

	</body>
</html>
