		</section>
		<!-- Footer -->
			<footer id="footer">
				<table>
				  <tr>
				    <td><img style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/mail-icon-50x50.png" align="middle"></td>
				    <td>info@tap-boston.org</td>
				    <td><img style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/twitter-icon-50x50.png" align="middle"></td>
				    <td>@TAP_BOS</td>
				  </tr>
				  <tr>
				    <td><img style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/phone-icon-50x50.png" align="middle"></td>
				    <td>+1 (111) 111-1111</td>
				    <td><img style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/fb-icon-50x50.png" align="middle"></td>
				    <td>TAP.BOS</td>
				  </tr>
				  <tr>
				    <td><img style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/address-icon-50x50.png" align="middle"></td>
				    <td>00 tap street<br/>Boston, MA 02111</td>
				    <td><img style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/instagram-icon-50x50.png" align="middle"></td>
				    <td>@tap_bos</td>
				  </tr>
				</table>
				
				<ul class="copyright">
				  <li>&copy; 2018 TAP-Boston. All rights reserved.</li>
				</ul>
			</footer>

	</body>
</html>
