</section>
<!-- Footer -->
<footer id="footer">
  <table>
    <tr>
      <td><img class="footer-icon" style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/mail-icon.png" align="middle"></td>
      <td>info@tap-boston.org</td>
      <td><img class="footer-icon" style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/twitter-icon.png" align="middle"></td>
      <td><a href="https://twitter.com/tap_bos">@TAP_BOS</a></td>
    </tr>
    <tr>
      <td><img class="footer-icon" style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/phone-icon.png" align="middle"></td>
      <td> -- </td>
      <td><img class="footer-icon" style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/facebook-icon.png" align="middle"></td>
      <td><a href="https://www.facebook.com/TAP.BOS">TAP.BOS</a></td>
    </tr>
    <tr>
      <td><img class="footer-icon" style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/house-icon.png" align="middle"></td>
      <td> -- </td>
      <td><img class="footer-icon" style="vertical-align:middle" src="{{ site.baseurl }}/assets/images/instagram-icon.png" align="middle"></td>
      <td><a href="https://www.instagram.com/tap_bos/">@tap_bos</a></td>
    </tr>
  </table>
  <ul class="copyright">
    <li>&copy; 2018 TAP-Boston. All rights reserved. Alpha by HTML5 UP.</li>
  </ul>
</footer>
</body>
</html>
