<!-- Header -->
<header id="header" class="alt">
  <h1><a href="{{ site.baseurl }}/">TAP-Boston</a></h1>
  <nav id="nav">
    <ul>
      <li>
	<a href="{{ site.baseurl }}/about">About</a>
	<ul>
	  <li><a href="{{ site.baseurl }}/about/overview">Overview</a></li>
	  <li><a href="{{ site.baseurl }}/about/leadership">Leadership</a></li>
	  <li><a href="{{ site.baseurl }}/about/supporters-and-partners">Supporters & Partners</a></li>
	</ul>
      </li>
      <li>
	<a href="{{ site.baseurl }}/programs">Programs</a>
	<ul>
	  <li><a href="{{ site.baseurl }}/programs/edge-program">EDGE Program</a></li>
	</ul>
      </li>
      <li><a href="{{ site.baseurl }}/events">Events</a>
      	<ul>
	  <li><a href="{{ site.baseurl }}/events/photos">Photos</a></li>
	  <li><a href="{{ site.baseurl }}/events/upcoming-events">Upcoming Events</a></li>
	  <li><a href="{{ site.baseurl }}/events/monthly-events">Monthly Events</a></li>
	  <li><a href="{{ site.baseurl }}/events/featured-past-events">Featured Past Events</a></li>
	</ul>
      </li>
      <li><a href="{{ site.baseurl }}/support-us">Support Us</a>
	<ul>
	  <li><a href="{{ site.baseurl }}/support-us/donate">Donate</a></li>
	  <li><a href="{{ site.baseurl }}/support-us/volunteer">Volunteer</a></li>
	  <li><a href="{{ site.baseurl }}/support-us/internships">Internships</a></li>
	</ul>
      </li>
    </ul>
  </nav>
</header>
