<!-- Header -->
<header id="header" class="alt">
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/tap-logo.png" class="nav-tap-logo"/></a>
  <nav id="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li>
	<a>About</a>
	<ul>
	  <li><a href="{{ site.baseurl }}/about/overview">Overview</a></li>
	  <li><a href="{{ site.baseurl }}/about/team">Team</a></li>
	  <li><a href="{{ site.baseurl }}/about/supporters-and-partners">Supporters & Partners</a></li>
	</ul>
      </li>
      <li>
	<a href="{{ site.baseurl }}/programs/tap-programs">Programs</a>
	<ul>
	  <li><a href="{{ site.baseurl }}/programs/edge-program">EDGE Program</a></li>
	  <li><a href="{{ site.baseurl }}/about/team/#team-ted-bang">Professional Development {{ site.baseurl }}/about/team/#team-ted-bang</a></li>
	  <li><a href="{{ site.baseurl }}/programs/tap-programs/">Social & Cultural</a></li>
	  <li><a href="{{ site.baseurl }}/programs/tap-programs/#programs-community-development">Community Development</a></li>
	</ul>
      </li>
      <li><a href="{{ site.baseurl }}/events/photos">Events</a>
      	<ul>
	  <li><a href="{{ site.baseurl }}/events/photos">Photos</a></li>
	  <li><a href="{{ site.baseurl }}/events/featured-past-events">Featured Past Events</a></li>
	</ul>
      </li>
      <li id="nav-bar-subscribe"><a href="#mailmunch-pop-121032">Subscribe</a></li>
    </ul>
  </nav>
</header>
