<!-- Header -->
<header id="header" class="alt">
  <h1><a href="{{ site.baseurl }}/">TAP-Boston</a></h1>
  <nav id="nav">
    <ul>
      <li>
	<a href="{{ site.baseurl }}/about" class="icon fa-angle-down">About</a>
	<ul>
	  <li><a href="{{ site.baseurl }}/about/letter-from-the-president">Letter from the President</a></li>
	  <li><a href="{{ site.baseurl }}/about/team">Team</a></li>
	  <li><a href="{{ site.baseurl }}/about/edge-mentorship-program">Edge Mentorship Program</a></li>
	  <li><a href="{{ site.baseurl }}/about/faq">FAQ</a></li>
	</ul>
      </li>
      <li><a href="{{ site.baseurl }}/events">Events</a></li>
      <li><a href="{{ site.baseurl }}/photos">Photos</a></li>
      <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
      <li><a href="{{ site.baseurl }}/sponsors">Sponsors</a></li>
    </ul>
  </nav>
</header>
