	h2.taiwanese-american {
	    font-size: 1.25em;
	    font-weight: bold;
	    line-height: 1.5em;
	    letter-spacing: 0.5em;
	    color: white;
	}

	h2.professionals {
	    font-size: 1.25em;
	    font-weight: bold;
	    line-height: 1.5em;
	    letter-spacing: 0.5em;
	    color: white;
	}

	/*button*/
	button.index-learn-more{
	    margin-bottom: 50px;

	}
	
	

/* Banner */

	#banner {
		padding: -26em 0;
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

		/* Main */

	#main {
		padding: 3em 0 0 0; /*4em*/
	}

		#main > header {
			margin: 0 2em 1.5em 2em;
		}

			#main > header h2 {
				font-size: 2em;
			}

			#main > header p {
				font-size: 1em;
				padding-bottom: 1em;
			}

	body.landing #main {
		padding: 0;
		margin-top: 0;
	}